@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  
.footer {
    display: flex;
    flex-direction: row;
    font-family: "Oswald";
    color: white;   
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #004175;
    border-color: #89DEEF;
    padding: 20px;
    font-family: "Open Sans";
    color: white;
}

.hero-image {
    width: 100%;
}

.home-text {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    font-size: 14pt;
}

.main-nav {
    word-spacing: ;
}

a:any-link {
    color: white;
    text-decoration: none;
    margin: 10px;
    align-items: center;
}

a:visited {
    color: white;
    text-decoration: none;
}

#donate-link {
    background-color: #A6A9F0;
    background-image: url("/images/donate.jpg");
    flex: 1 1 auto;
    text-align: center;
}

#volunteer-link {
    background-color: #A6A9F0;
    background-image: url("/images/volunteer.jpg");
    flex: 1 1 auto;
    text-align: center;
}

#location-link {
    background-color: #A6A9F0;
    background-image: url("/images/location.png");
    flex: 1 1 auto;
    text-align: center;
}